<!DOCTYPE html>
<html>

<head>
    <title>Job Matcher</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

{% include "header.html" %}

<button class ="search-job-btn" onclick="openModal()">Search Jobs</button>
<div id="resumeModal" class="modal hidden">
    <div class="modal-content">
        <h3>Would you like to use a resume?</h3>

        <!-- Upload new -->
        <form method="post" action="/search" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Upload & Search</button>
        </form>

        <!-- Use saved -->
        <form method="post" action="/search">
            <input type="hidden" name="use_saved" value="true">
            <button type="submit">Use Saved Resume</button>
        </form>

        <!-- Continue without -->
        <form method="post" action="/search">
            <button type="submit">Continue Without Resume</button>
        </form>

        <button onclick="closeModal()">Cancel</button>
    </div>
</div>

<script>
function openModal() {
    document
        .getElementById("resumeModal")
        .classList.remove("hidden");
}

function closeModal() {
    document
        .getElementById("resumeModal")
        .classList.add("hidden");
}
</script>

{% if has_resume %}
<p style="color:green;">Using resume-based ranking</p>
{% else %}
<p style="color:gray;">Showing general job matches</p>
{% endif %}

{% for job in jobs %}
{% if job.show == 1 %}
<div class="job-card" id="job-{{ job.id }}">
    <h2><a href="{{ job.url }}"  target="_blank">{{ job.title }}</a></h2>
    <p><strong>{{ job.company }}</strong> — {{ job.location }}</p>

    <p>
        Overall Score: {{ "%.2f"|format(job.score) if job.score is defined else "N/A" }} |
        FAISS: {{ "%.2f"|format(job.faiss_score) if job.faiss_score is defined else "N/A" }} |
        Skill Score: {{ "%.2f"|format(job.skill_score) if job.skill_score is defined else "N/A" }}
    </p>
    
    {% if has_resume %}
    <div class="skills-container">
        
        <strong>Matching Skills:</strong>
        <ul class="matching-skills">
        {% for match in matching_missing[job.id]['matching'] %}
        <li>
            {{ match }}
        </li>
        {% endfor %}
        </ul>   

        <strong>Missing Skills:</strong>
        <ul class="missing-skills">
        {% for miss in matching_missing[job.id]['missing'] %}
        <li>
            {{ miss }}
        </li>
        {% endfor %}
        </ul>   
    </div>
    {% else %}
    <p><strong>Skills:</strong> {{ job.skills }}</p>
    {% endif %}

    <div class="job-actions">
        <button class="save-btn" data-id="{{ job.id }}">Save</button>
        <button class="delete-btn" data-id="{{ job.id }}">Delete</button>
    </div>

    <div class="outreach-actions">
        <button class="outreach-btn" data-id="{{ job.id }}">
            Find Contacts
        </button>
    </div>
    <hr>
</div>
{% endif %}
{% endfor %}

</body>

<script>
    
    function openModal() {
        document
            .getElementById("resumeModal")
            .classList.remove("hidden");
    }

    function closeModal() {
        document
            .getElementById("resumeModal")
            .classList.add("hidden");
    }

    /* SAVE */

    document.addEventListener("click", async (e) => {

        if (e.target.classList.contains("save-btn")) {

            const jobId = e.target.dataset.id;

            await fetch(`/save/${jobId}`, {
                method: "POST"
            });
        }
    });

    /* DELETE */

    document.addEventListener("click", async (e) => {

        if (e.target.classList.contains("delete-btn")) {

            const jobId = e.target.dataset.id;

            const res = await fetch(`/delete/${jobId}`, {
                method: "POST"
            });

            if (res.ok) {
                document
                    .getElementById(`job-${jobId}`)
                    .remove();
            }
        }
    });

    /* OUTREACH */

    document.addEventListener("click", async (e) => {

        if (e.target.classList.contains("outreach-btn")) {

            const jobId = e.target.dataset.id;

            await fetch(`/outreach/${jobId}`, {
                method: "GET"
            });
        }
    });

    
</script>
</html>