<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="/static/settings.css">
</head>

<body>

    {% include "header.html" %}
    <div id="resumeModal" class="modal hidden">
        <div class="modal-content">
            <h3>Please upload your resume.</h3>

            <!-- Upload new -->
            <form method="post" action="/settings/resume" enctype="multipart/form-data">
                <div>
                    <input type="file" name="file">
                </div>
                <div>
                    <button type="submit">Upload</button>
                </div>
            </form>

            <button onclick="closeModal()">Cancel</button>
        </div>
    </div>

    <div class="settings-page">

        <div class="settings-card">
            <div class="settings-header">
                <h1>General Preferences</h1>
            </div>

            <form method="POST" action="/settings/save">

                {% for key, value in settings.items() %}
                <div class="setting-row">

                    <div class="setting-info">
                        <label for="{{ key }}">
                            {{ key.replace('_', ' ').title() }}
                        </label>
                    </div>

                    <div class="setting-control">

                        {% if value is boolean %}
                        <label class="switch">
                            <input
                                type="checkbox"
                                id="{{ key }}"
                                name="{{ key }}"
                                {% if value %}checked{% endif %}>
                            <span class="slider"></span>
                        </label>

                        {% elif value is number %}
                        <input
                            type="number"
                            id="{{ key }}"
                            name="{{ key }}"
                            value="{{ value }}">

                        {% else %}
                        <input
                            type="text"
                            id="{{ key }}"
                            name="{{ key }}"
                            value="{{ value }}">
                        {% endif %}

                    </div>

                </div>
                {% endfor %}

                <div class="settings-actions">
                    <button type="submit" class="save-btn">
                        Save Changes
                    </button>
                </div>

            </form>
            

        </div>
        <div class="settings-card">
            <div class="settings-header">
                <h1>Resume Upload</h1>
                <button class ="upload-resume-btn" onclick="openModal()">Upload Resume</button>
            </div>
        </div>

    </div>

</body>


<script>
    function openModal() {
        document
            .getElementById("resumeModal")
            .classList.remove("hidden");
    }

    function closeModal() {
        document
            .getElementById("resumeModal")
            .classList.add("hidden");
    }
</script>

</html>